.container {
    height: 100vh;
    display: grid; 
    grid-template-rows:20% 20% 20% 20% 20%; 
    grid-template-columns:12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; 
  }
.block1{
    background: purple;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:5;
}
.block2{
    background: brown;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:5;
    grid-row-end:6;
}
.block3{
    background: lightblue;
    grid-column-start:3;
    grid-column-end:8;
    grid-row-start:1;
    grid-row-end:2;
}
.block4{
    background: blue;
    grid-column-start:8;
    grid-column-end:9;
    grid-row-start:1;
    grid-row-end:2;
}
.block5{
    background: green;
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:4;
}
.block6{
    background: yellowgreen;
    grid-column-start:5;
    grid-column-end:7;
    grid-row-start:2;
    grid-row-end:4;
}
.block7{
    background: yellow;
    grid-column-start:7;
    grid-column-end:9;
    grid-row-start:2;
    grid-row-end:5;
}
.block8{
    background: pink;
    grid-column-start:3;
    grid-column-end:7;
    grid-row-start:4;
    grid-row-end:5;
}
.block8{
    background: pink;
    grid-column-start:5;
    grid-column-end:9;
    grid-row-start:5;
    grid-row-end:7;
}